.container {
  width: 80%;
  margin: 1rem auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.calculator-container {
  width: fit-content;
  background-color: #999;
  margin: 2rem auto;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(4, 70px);
  grid-template-rows: minmax(80px, auto) repeat(5, 70px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

.display {
  grid-column: 1 / -1;
  background-color: rgba(100, 100, 100, 0.75);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  word-wrap: break-word;
  word-break: break-all;
  color: white;
  font-size: 1.2rem;
}

.calculator-container > button {
  background-color: rgba(255, 255, 255, 0.75);
  border: 1px solid white;
  outline: none;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.calculator-container > button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.span-two {
  grid-column: span 2;
}

.calculator-container > button.orange {
  background-color: orange;
}

.calculator-container > button.orange:hover {
  background-color: rgb(234, 184, 91);
}
